//COLORS
$carnation: #f24a4d;
$carnation1:#f13a54;
$white: #ffffff;
$black: #000000;
$woodsmoke: #17191f;
$mineshaft : #333333;
$jellybean: #277dad;
$mountain: #1FA659;
$abbey: #767676;
$cinnabar: #e83d31;
$sushi: #72B843;
$lunargreen:#3b3c3b;
$scorpion: #606060;
$alabaster: #f7f7f7;
$mercury: #e5e5e5;
$gainsboro: #e1e1e1;
$cornflower :#fffcfc;
$darkslategray: #49494b;
$dimgray: #575757;
//GRID
$grid-width: 104rem;
$gutter-vertical: 2rem;
$gutter-horizontal: 2rem;

$grid-gutter-middle: 30px;