.video-cover {
  position: relative;

  &__img {
    position: static;
    width: 100%;
    @include media-breakpoint-up(lg) {
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
    }
  }

  &__video {
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
}
