
.section-cover {
  padding-top: 60px;
  padding-bottom: 60px;
  min-height: 60vh;

  &__inner {
    @include make-row();
    align-items: center;
  }

  &__title-box {
    @include make-col-ready();
    @include media-breakpoint-up(xl) {
      @include make-col(6);
    }
  }

  &__description {
    @include make-col-ready();
    @include media-breakpoint-up(xl) {
      @include make-col(3);
      @include make-col-offset(1);
    }
  }
}

.section-about {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: linear-gradient(to right, #f8f8f8  36%, #ffffff 0);

  @media all and (min-width: 1500px) {
    padding-top: 160px;
    padding-bottom: 230px;
  }

  &__title-box {
    padding-left: 15px;
    padding-right: 15px;
    @include media-breakpoint-up(xl) {
      @include make-col-offset(7);
    }
  }

  &__inner {
    @include make-row();
  }

  &__item {
    margin-top: 50px;
    margin-bottom: 30px;
    @include make-col-ready();
    @include make-col(10);
    @include media-breakpoint-up(sm) {
      @include make-col(6);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(3);
    }
    
    @include media-breakpoint-up(xl) {
      @include make-col(2);
      &:not(:last-child) {
        margin-right: 100px;
      }
    }

    &:nth-child(1) {
      &::after {
        background-image: url('images/icon1.png');
      }
    }

    &:nth-child(2) {
      &::after {
        background-image: url('images/icon2.png');
      }
    }

    &:nth-child(3) {
      &::after {
        background-image: url('images/icon3.png');
      }
    }

    &:nth-child(4) {
      &::after {
        background-image: url('images/icon4.png');
      }
    }

   
  }
}

.section-plan {
  
  &__inner {
    @include make-row();
    align-items: center;
    padding-bottom: 60px;
    @include media-breakpoint-up(xl) {
      margin-top: -35px;
    }
  }

  &__title-box {
    @include make-col-ready();
    @include media-breakpoint-up(xl) {
      @include make-col(4);
    }
  }

  &__description {
    @include make-col-ready();
    @include media-breakpoint-up(xl) {
      @include make-col(4);
      @include make-col-offset(2);
    }
  }
}

.section-gallery {
  background-image: linear-gradient(to right, #f8f8f8  30%, #ffffff 0);
  padding-top: 62px;
  padding-bottom: 60px;
  overflow: hidden;
  @include media-breakpoint-up(xl) {
    padding-bottom: 120px;
  }

  &__title-box {
    max-width: 508px;
  }
}

.section-location {
  padding-top: 60px;
  @include media-breakpoint-up(xl) {
    padding-top: 120px;
  }
  
  &__inner {
    @include make-row();
    align-items: center;
    padding-bottom: 60px;
  }

  &__title-box {
    order: -1;
    @include make-col-ready();
    @include media-breakpoint-up(xl) {
      @include make-col(5);
      @include make-col-offset(3);
      order: 1;
    }
  }

  &__description {
    @include make-col-ready();
    @include media-breakpoint-up(xl) {
      @include make-col(4);
    }
  }
}

.section-sale {
  padding-top: 60px;
  padding-bottom: 60px;

  @include media-breakpoint-up(lg) {
    padding-top: 160px;
    padding-bottom: 160px;
  }

  &__inner {
    @include make-row();
  }

  &__img-box {
    @include make-col-ready();
    @include media-breakpoint-up(lg) {
      @include make-col(6);
    }
  }

  &__description {
    padding-top: 60px;
    @include make-col-ready();
    display: flex;
    flex-flow: row wrap;
  
    @include media-breakpoint-up(lg) {
      padding-top: 0;
      @include make-col(5);
      @include make-col-offset(1);
    }
  }
}