.header {
  padding-top: 22px;
  padding-bottom: 22px;
  z-index: 3;
  top: 0;
  width: 100%;
  position: fixed;
  background: $white;
  transition: .3s ease;

  @include media-breakpoint-up(xl) {
    padding-bottom: 0;
    padding-top: 0;
  }

  &--scrolled {
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: -4px 0 10px 0 rgba(black, .2);

    @include media-breakpoint-up(xl) {
      padding-top: 0;
      padding-bottom: 0;
    }
    
    & .header__logo { 
      width: 130px;
    }
    
    & .header__btn-box {
      @include media-breakpoint-up(xl) {
        padding-top: 8px;
      }
    }

    & .btn--primary {
      padding: 12px 17px;
    }
  }

  &__logo {
    width: 168px;
    transition: .3s ease;
  }

  &__inner {
    @include make-row();
    align-items: center;
    justify-content: space-between;
  }

  &__btn-box {
    @include make-col-ready();
    @include make-col(10);

    @include media-breakpoint-up(xl) {
      @include make-col(2);
    }
    text-align: right;
  }

  &__navbar {
    padding: 0;
    @include make-col-ready();
    @include make-col(2);

    @include media-breakpoint-up(xl) {
      @include make-col(10);
    }
  }

  &__navbar-brand {
    display: none;
    max-width: 140px;
    @include media-breakpoint-up(xl) {
      display: block;
    }
    @media screen and(min-width: 1500px) {
      max-width: auto;
    }
  }

  &__link {
    @include media-breakpoint-up(xl) {
      padding-top: 48px;
      padding-bottom: 10px;
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
    @media screen and (min-width: 1500px) {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }

    &--accent {
      @include media-breakpoint-up(xl) {
        position: relative;
        color: white !important;
        &::before {
          content: '';
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          height: 144%;
          z-index: -1;
          width: 100%;
          background-image: linear-gradient(to bottom , #80f0cc,  #51b683);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
        }
      }
    }   
  }
}