.header {
  
  z-index: 3;
  top: 0;
  width: 100%;
  padding-top: 10px;
  background: $white;


  //  @include media-breakpoint-up(xl) {
  //    -webkit-transform: translateZ(0);
  //    //transition: transform 0s .5s;
  //  }

  @include media-breakpoint-down(lg) {
    padding-bottom: 8px;
  }

  &__inner {
    @include make-row();
    align-items: center;
    justify-content: space-between;
  }

  &__btn-box {
    @include make-col-ready();
    @include make-col(10);

    @include media-breakpoint-up(xl) {
      @include make-col(2);
    }
    text-align: right;
  }

  &__navbar {
    padding: 0;
    @include make-col-ready();
    @include make-col(2);

    @include media-breakpoint-up(xl) {
      @include make-col(10);
    }
  }

  &__navbar-brand {
    display: none;
    max-width: 140px;
    @include media-breakpoint-up(xl) {
      display: block;
    }
    @media screen and(min-width: 1500px) {
      max-width: auto;
    }
  }
}