.header {
  
  z-index: 3;
  top: 0;
  width: 100%;
  padding-top: 10px;
  background: $white;


  //  @include media-breakpoint-up(xl) {
  //    -webkit-transform: translateZ(0);
  //    //transition: transform 0s .5s;
  //  }

  @include media-breakpoint-down(lg) {
    padding-bottom: 8px;
  }

  &__inner {
    @include make-row();
    align-items: center;
    justify-content: space-between;
  }

  &__btn-box {
    @include make-col-ready();
    @include make-col(2);
  }

  &__navbar {
    padding: 0;
    @include media-breakpoint-up(lg) {
      @include make-col-ready();
      @include make-col(10);
    }

  }

  &__social { 
    position: fixed;
    width: 300px;
    bottom: 0;
    left: 0;
    background: $mineshaft;
    padding: 20px 0;
    transform: translateX(-100%);
    transition: .5s;
    z-index: 1;
    &--expanded {
      transform: translateX(0);
    }

    @include media-breakpoint-down(md) {
      width: 230px;
    }

    @include media-breakpoint-up(xl) { 
        display: none;
    } 
  }

  &__callback {
    position: relative; 
    text-align: right;
    margin-left: auto;
    justify-content: flex-end;
    align-self: flex-end;

    @include make-col-ready();

    @include media-breakpoint-up(xs) {
      @include make-col(1);
    }

    @include media-breakpoint-up(md) {
      @include make-col(5); 
    }

    @include media-breakpoint-up(lg) {
      @include make-col(4); 
    }

    @include media-breakpoint-up(xl) {
      @include make-col(3);
      align-self: center;
    }
  }
}