
.form-primary {
 
}

.field {
  position: relative;
}

.placeholder {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-80%);
  color: #707070;
  font-size: 14px;
  font-style: italic;
  font-family: 'Open Sans' , sans-serif;
}

.input-primary {
  height: 50px;
  background-color: #ececec;
  border: none;
  width: 100%;
  max-width: 255px;
  margin-bottom: 10px;
  padding-left: 20px;
  font-style: italic;
}