
.price {
  &::after {
    content: " \20BD";
    display: inline;
    font-size: inherit;
    font-weight: bold;
    font-family: Arial, sans-serif;
  }
}

.paragraph {
  opacity: 0.8;
  color: #898989;
  font-family: Comfortaa;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.title-primary, .title-secondary {
  font-weight: 800;
  color: #201f1f;
  font-family: "Roboto Slab";
  font-size: 60px;
}

.title-secondary {
  font-size: 54px;  
}

.title-tertiary {
  color: #303234;
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 700;
}


.link--primary {
  display: inline-block;
  color: #f13b55;
  font-family: 'Comfortaa';
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
  position: relative;

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: -27px;
    width: 14px;
    height: 14px;
    border: 3px solid;
    top: 5px;
    transform: rotate(45deg);
  }
  &::after {
    content: '';
    display: block;
    margin-top: 5px;
    height: 3px;
    background-image: linear-gradient(45deg, #f31843 0%, #f13b54 100%);
  }
}

